.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #006314; /* Set your desired AppBar color */
    color: white;
    width: 100%;
    min-height: 65px;
  }
  
  .nav-section {
    display: flex;
    align-items: center;
  }
  
  .logo-placeholder {
    /* Styles for your logo placeholder */
  }
  